```css id="q7l3we"
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --fundo: #eef5ff;
    --card: #ffffff;
    --azul: #5b9dff;
    --azul-hover: #468cff;
    --texto: #1e2a3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #eef5ff, #dcecff);

    font-family: 'Chakra Petch', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;

    width: 90%;
    max-width: 750px;

    padding: 50px;

    border-radius: 30px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(91, 157, 255, 0.2);
}

.titulo {
    color: var(--azul);

    font-size: 42px;

    margin-bottom: 20px;
}

.conta {
    color: var(--texto);

    font-size: 26px;

    margin-bottom: 35px;

    line-height: 1.5;
}

button {
    background-color: var(--azul);

    color: white;

    border: none;

    padding: 16px 35px;

    border-radius: 15px;

    font-size: 20px;

    cursor: pointer;

    transition: 0.3s;

    font-family: 'Chakra Petch', sans-serif;
}

button:hover {
    background-color: var(--azul-hover);

    transform: scale(1.05);
}

.mensagem {
    margin-top: 35px;

    font-size: 24px;

    color: var(--texto);

    line-height: 1.7;
}
```
